<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="views.css" />
    <title>Welcome to SimplePhotoss</title>
</head>

<body>

    <div class=wrapper>
        <h1>Welcome to SimplePhoto</h1>
        <p>Upload. Vew. Share.</p>
        <p>Thank you for registering for SimplePhoto, the world's smallest repository of free, user inspired images!
        </p>
        <p>We believe a picture can speak a thousand words. That means several dozens of pictures
            can speak several of dozens of thousands of words.</p>
    </div>

</body>

</html>